<div class="container-fluid">
<h1>Past Year 2017</h1>
<h2>Bird Count Data</h2>
<table class="table table-hover">
  <tr>
  <tr>
    <th><strong>Bird Type</strong></th>
    <th><strong>Total</strong></th>
  </tr>
  <tr>
    <td>Snow Goose</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Canada Goose</td>
    <td>143</td>
  </tr>
  <tr>
    <td>Wood Duck</td>
    <td>0</td>
  </tr>
  <tr>
    <td>AM Black Duck</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Mallard</td>
    <td>76</td>
  </tr>
  <tr>
    <td>Canvasback</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Com Goldeneye</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Hood Merganser</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Com Merganser</td>
    <td>0</td>
  </tr>
  <tr>
    <td>R-B Merganser</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Wild Turkey</td>
    <td>8</td>
  </tr>
  <tr>
    <td>PB Grebe</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Gr Blue Heron</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Bald Eagle</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Northern Harrier</td>
    <td>1</td>
  </tr>
</table>
<button type="button" class="btn btn-lg" style="float: right"><a routerLink="/current" routerLinkActive="active">Save</a></button>
  </div>
  <br/>
  <br/>