<div class="container-fluid">
<h1>2017 Compiled Data</h1>
<h3>Effort</h3>
<table class="table table-hover">
  <tr>
    <th><strong>Effort</strong></th>
    <th><strong>Totals</strong></th>
  </tr>
  <tr>
    <td>Field Parties</td>
	<td>9</td>
  </tr>
  <tr>
    <td>Field Participants</td>
	<td>17</td>
  </tr>
  <tr>
	<td>Foot Miles</td>
	<td>7.74</td>
  </tr>
  <tr>
	<td>Foot hours</td>
	<td>7.48</td>
  </tr>
  <tr>
	<td>Car Miles</td>
	<td>291.90</td>
  </tr>
  <tr>
	<td>Car Hours</td>
	<td>25.37</td>
  </tr>
  <tr>
	<td>Owling Miles</td>
	<td>0.00</td>
  </tr>
  <tr>
	<td>Owling Hours</td>
	<td>0.00</td>
  </tr>
  <tr>
	<td>Feeder Counts</td>
	<td>5</td>
  </tr>
  <tr>
	<td>Feeder Participants</td>
	<td>5</td>
  </tr>
  <tr>
	<td>Feeder Hours</td>
	<td>12.75</td>
  </tr>
</table>
<h3>Weather Expirienced</h3>
<table class="table table-hover">
  <tr>
    <th><strong>Weather</strong></th>
    <th><strong>Data</strong></th>
  </tr>
  <tr>
    <td>Low Temp</td>
	<td>26 deg F</td>
  </tr>
  <tr>
    <td>High Temp</td>
	<td>30 deg F</td>
  </tr>
  <tr>
	<td>Wind Direction</td>
	<td>SW</td>
  </tr>
  <tr>
	<td>Low Wind</td>
	<td>12 mph</td>
  </tr>
  <tr>
	<td>High Wind</td>
	<td>17 mph</td>
  </tr>
  <tr>
	<td>Snow Depth Min</td>
	<td>0 in</td>
  </tr>
  <tr>
	<td>Snow Depth Max</td>
	<td>0 in</td>
  </tr>
  <tr>
	<td>Still Water</td>
	<td>0pen</td>
  </tr>
  <tr>
	<td>Moving Water</td>
	<td>Open</td>
  </tr>
  <tr>
	<td>AM Cloud Cover</td>
	<td>P Clear</td>
  </tr>
  <tr>
	<td>PM Cloud Cover</td>
	<td>P Clear</td>
  </tr>
  <tr>
	<td>AM Rain</td>
	<td>None</td>
  </tr>
  <tr>
	<td>PM Rain</td>
	<td>None</td>
  </tr>
  <tr>
	<td>AM Snow</td>
	<td>None</td>
  </tr>
  <tr>
	<td>PM Snow</td>
	<td>None</td>
  </tr>
</table>
<h3>Final Bird Count</h3>
<table class="table table-hover">
  <tr>
    <th><strong>Bird Type</strong></th>
    <th><strong>Total</strong></th>
  </tr>
  <tr>
    <td>Snow Goose</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Canada Goose</td>
    <td>143</td>
  </tr>
  <tr>
    <td>Wood Duck</td>
    <td>0</td>
  </tr>
  <tr>
    <td>AM Black Duck</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Mallard</td>
    <td>76</td>
  </tr>
  <tr>
    <td>Canvasback</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Com Goldeneye</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Hood Merganser</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Com Merganser</td>
    <td>0</td>
  </tr>
  <tr>
    <td>R-B Merganser</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Wild Turkey</td>
    <td>8</td>
  </tr>
  <tr>
    <td>PB Grebe</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Gr Blue Heron</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Bald Eagle</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Northern Harrier</td>
    <td>1</td>
  </tr>
</table>
<br/>
 <button class="btn btn-lg" style="float: right"><a routerLink="/past" routerLinkActive="active">Return to Past Years</a></button>
</div>
<br/>
<br/>