<div class="container-fluid">
<h2>2017 Bird Data List</h2>
<table class="table table-hover">
  <tr>
    <th><strong>Bird Type</strong></th>
    <th><strong>Etc.</strong></th>
    <th><strong>Etc.</strong></th>
    <th><strong>Etc.</strong></th>
	<th><strong>Delete?</strong></th>
  </tr>
  <tr>
    <td>Duck</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
	<td><button type="button" class="btn">X</button></td>
  </tr>
  <tr>
    <td>Goose</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
	<td><button type="button" class="btn">X</button></td>
  </tr>
  <tr>
    <td>Chicken</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
	<td><button type="button" class="btn">X</button></td>
  </tr>
    <tr>
    <td>Cardinal</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
	<td><button type="button" class="btn">X</button></td>
  </tr>
    <tr>
    <td>Blue Jay</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
	<td><button type="button" class="btn">X</button></td>
  </tr>
</table>
<button type="button" class="btn btn-lg" style="float: right"><a routerLink="/current" routerLinkActive="active">Return to Current</a></button>
  </div>
