  <div class="container-fluid">
  <h1>Team Data List</h1>
  <table class="table table-hover">
    <tr>
      <td><strong>1</strong></td>
      <td><strong><a routerLink="/example" routerLinkActive="active">Team Name</a></strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
    <tr>
      <td><strong>2</strong></td>
      <td><strong><a routerLink="/example" routerLinkActive="active">Team Name</a></strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
    <tr>
      <td><strong>3</strong></td>
      <td><strong><a routerLink="/example" routerLinkActive="active">Team Name</a></strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
	 <tr>
      <td><strong>4</strong></td>
      <td><strong><a routerLink="/example" routerLinkActive="active">Team Name</a></strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
	 <tr>
      <td><strong>5</strong></td>
       <td><strong><a routerLink="/example" routerLinkActive="active">Team Name</a></strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
  </table>
  <button type="button" class="btn"><a routerLink="/form" routerLinkActive="active">+</a></button>
  <br/>
  <button type="button" class="btn btn-lg" style="float: right"><a routerLink="/compile" routerLinkActive="active">Compile</a></button>
</div>
