<div class="pageContent">
  <h1>Team Data List</h1>
  <table>
    <tr>
      <td><strong>1</strong></td>
      <td><strong><a routerLink="/example" routerLinkActive="active">Team Name</a></strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
    <tr>
      <td><strong>2</strong></td>
      <td><strong>Team Name</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
    <tr>
      <td><strong>3</strong></td>
      <td><strong>Team Name</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Etc.</strong></td>
    </tr>
  </table>
</div>
