<div class="container-fluid">
<h2>Bird Data List</h2>
<table class="table table-hover">
  <tr>
    <th><strong>Bird Type</strong></th>
    <th><strong>Etc.</strong></th>
    <th><strong>Etc.</strong></th>
    <th><strong>Etc.</strong></th>
  </tr>
  <tr>
    <td>Duck</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
  </tr>
  <tr>
    <td>Goose</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
  </tr>
  <tr>
    <td>Chicken</td>
    <td>Etc.</td>
    <td>Etc.</td>
    <td>Etc.</td>
  </tr>
</table>
  </div>
