<div class="container-fliud">
<h1>Add A Team</h1>
<br>
<label><b>Team Name:</b></label>
    <input type="text" placeholder="Team Name" name="FirstName" required>
<br>	
<br>	
<h1>Team Members</h1>
<br>
<table class="table table-hover">
  <tr>
    <th><strong>Member Name</strong></th>
    <th><strong>Member Email</strong></th>
	<th><strong>Member Address</strong></th>
	<th><strong>Member Phone#</strong></th>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Enter Name" name="MemberName" required></td>
	<td><input type="text" placeholder="Enter Email" name="Email" required></td>
	<td><input type="text" placeholder="Enter Address" name="Address" required></td>
	<td><input type="text" placeholder="Enter Phone#" name="Phone" required></td>
  </tr>
</table>
<button type="button" class="btn btn-lg" style="float: right"><a routerLink="/current" routerLinkActive="active">Add Team</a></button>
</div>