<base href="/" />
  <nav id="navbar">
    <br />
    <br />
    <br />
    <br />
    <ul>
      <li><img src="http://www.clker.com/cliparts/3/f/e/b/13343480101926659497Green%20Bird%20House.svg.hi.png" alt="Bird Count App" height="100" width="100"></li>
      <br />
      <li>
        <a routerLink="/current" routerLinkActive="active">Current</a>
      </li>
      <li>
        <a routerLink="/statistics" routerLinkActive="active">Statistics</a>
      </li>
      <li>
        <a routerLink="/past" routerLinkActive="active">Past Years</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
